{% extends 'home.html' %}

{% block content %}

    <h3>{{ name }}</h3>

    <table class="table">

        <tr>
            {% for header in cursor.description %}
                <th>{{ header[0].title() }}</th>
            {% endfor %}
            <th>action</th>
        </tr>

        {% for row in cursor %}
        <tr>
            {% for col in row %}
            <td>{{ col }}</td>
            {% endfor %}
            <td><a class="btn" href="{{ url_for('video', video_id=row[0]) }}">voir</a></td>
        </tr>
        {% endfor %}

    </table>

{% endblock %}
